#!/bin/bash

# Get colors in manual pages
man() {
    env \
        LESS_TERMCAP_mb="$(printf '\e[1;31m')" \
        LESS_TERMCAP_md="$(printf '\e[1;31m')" \
        LESS_TERMCAP_me="$(printf '\e[0m')" \
        LESS_TERMCAP_se="$(printf '\e[0m')" \
        LESS_TERMCAP_so="$(printf '\e[1;44;33m')" \
        LESS_TERMCAP_ue="$(printf '\e[0m')" \
        LESS_TERMCAP_us="$(printf '\e[1;32m')" \
        man "$@"
}

# Start firefox with the selected profile
ff() {
    local mozilla_profiles_file="$HOME/.mozilla/firefox/profiles.ini"
    # fetch profile names from firefox's profiles config file
    selected_profile=$(python3 -c "import configparser; c = configparser.ConfigParser(); c.read('$mozilla_profiles_file'); print('\n'.join(map(lambda s: c[s]['name'], filter(lambda s: s.startswith('Profile'), c.sections()))))" | dmenu)
    if [ -n "$selected_profile" ]; then
        echo "Starting firefox with profile '$selected_profile'"
        firefox -P "$selected_profile" -no-remote &
    fi
}
